#### 4. Date Type II

#### 4-1. String Type

In [36]:
# 문자열
# 모든 예문이 따옴표 or 따옴표 연속 3개로 둘러싸여 있으면 모두 문자열.
# 문장 안에도 작은따옴표와 큰따옴표가 들어 있어야 할 경우를 고려하기 때문

a = 'Life is too short, You need python.'
print(a)
b = "Life is too short, You need python."
print(b)
c = """'Life is too short, You need python' he says."""
print(c)
d = """"Life is too short, You need python" he says."""
print(d)

Life is too short, You need python.
Life is too short, You need python.
'Life is too short, You need python' he says.
"Life is too short, You need python" he says.

#### 4-2. 문자열에 따옴표 포함하기

In [37]:
# 큰따옴표 안에 들어 있는 작은따옴표는 문자열을 나타내기 위한 기호로 인식되지 않는다.
# 작은따옴표 안에 들어 있는 큰따옴표는 문자열을 나타내기 위한 기호로 인식되지 않는다.

a = '"Life is too short, You need python" he says.'
print(a)
b = "'Life is too short, You need python' he says."
print(b)

"Life is too short, You need python" he says.
'Life is too short, You need python' he says.

#### 4-3. 역슬래시 삽입

In [1]:
# \를 따옴표 앞에 삽입하면 역슬래시 뒤의 따옴표는 문자열을 둘러싸는 기호의 의미가 아니라 ' or " 자체를 의미한다.

a = "\'Life is too short, You need python\' he says."
print(a)
b = "\"Life is too short, You need python\" he says."
print(b)
c = "Life\'s too short, You need python."
print(c)

'Life is too short, You need python' he says.
"Life is too short, You need python" he says.
Life's too short, You need python.

#### 4-4. Multiline

In [40]:
multiline1 = '''
Life is too short
You need python
'''
print(multiline1)

multiline2 = """
Life's too short
You need python
"""
print(multiline2)

Life is too short
You need python


Life's too short
You need python

#### 4-5. 이스케이프 코드

In [2]:
# \n
# 문자열 안에서 줄을 바꿀 때 사용
a = 'Life is too short\nYou need python'
print(a)

Life is too short
You need python

In [3]:
# \t
# 문자열 사이에 탭 간격을 줄 때 사용
b = 'Life is too short\tYou need python'
print(b)

Life is too short	You need python

In [4]:
# \\
# \를 그대로 표현할 때 사용
c = 'Life is too short\\You need python'
print(c)

Life is too short\You need python

In [5]:
# \'
# 작은따옴표를 그대로 표현할 때 사용
d = 'Life is too short\'You need python'
print(d)

Life is too short'You need python

In [6]:
# \"
# 큰따옴표를 그대로 표현할 때 사용
e = 'Life is too short\"You need python'
print(e)

Life is too short"You need python

In [15]:
# \r
# 캐리지 리턴. 줄 바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동한다.
f = 'Life is too short\rYou need python'
print(f)

You need pythonrt

In [8]:
# \f
# 폼 피드. 줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동한다.
g = 'Life is too short\fYou need python'
print(g)

Life is too shortYou need python

In [21]:
# \a
# 벨 소리. 출력할 때 PC 스피커에서 '삑' 소리가 난다.
h = 'Life is too short\aYou need python'
print(h)

Life is too shortYou need python

In [18]:
# \a
# 백 스페이스
i = 'Life is too short\bYou need python'
print(i)

Life is too shorYou need python

In [24]:
# \000
# 널 문자
j = 'Life is too short\000You need python'
print(j)

Life is too short You need python

#### 4-6. 문자열 연산

In [25]:
a = 'Life is too short, '
b = 'You need python'

# 문자열 덧셈
print(a + b)

# 문자열 곱셈
print(a * 2)

Life is too short, You need python
Life is too short, Life is too short,

#### 4-7. 문자열 곱셈 응용

In [27]:
# multistring.py
print('=' * 50)
print('My Program')
print('=' * 50)

==================================================
My Program
==================================================

#### 4-8. 문자열 길이

In [44]:
# 문자열의 길이에는 공백 문자도 포함된다.

a = 'Life is too short, You need python.'
len(a)

35

#### 4-9. String Indexing

In [35]:
# 가리킨다
# a[N]
# 문자열의 N번째 문자
# 파이썬은 숫자를 0부터 센다.

In [36]:
# a[N]은 문자열 안의 특정한 값을 뽑아 낸다.
a = 'Life is too short, You need Python'
print(a[3])

e

In [37]:
# a[-1]은 뒤에서부터 셀 때 첫 번째가 되는 문자이다.
print(a[-1])

n

In [38]:
# 0 = -0 so a[0] = a[-0]
print(a[0])
print(a[-0])

L
L

In [39]:
# 문자열 내 단어 뽑아내기
a = 'Life is too short, You need python.'
b = a[0] + a[1] + a[2] + a[3]
print(b)

Life

#### 4-10. String Slicing

In [40]:
# 잘라내다

In [41]:
# a[start number : end number]를 지정할 때 끝 번호에 해당하는 문자는 포함하지 않는다.
# 0 <= a < 3
c = a[0:4]
print(c)

Life

In [42]:
# end number를 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아 낸다.
d = a[19:]
print(d)

You need python.

In [43]:
# start number를 생략하면 문자열의 처음부터 끝 번호까지 뽑아 낸다.
e = a[:17]
print(e)

Life is too short

In [44]:
# Slicing에서도 - 기호 사용 가능하다.
# a[19:-7]은 a[19]에서 a[-8]까지를 의미한다. a[-7]은 포함하지 않는다.
f = a[19:-7]
print(f)

You need

In [47]:
a = '20000611Sunny'
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
print(weather)

2000
0611
Sunny

#### 4-11. 'Pithon' to 'python'

In [48]:
# Immutable
# 문자열의 요솟값은 바꿀 수 있는 값이 아니다.

# Slicing
a = 'pithon'
print(a[:1] + 'y' + a[2:])

python

#### 4-12. String Formatting

In [49]:
# 문자열 안의 특정한 값을 시간에 따라 바꾸어야 할 때 사용한다.
# 문자열 안에 어떤 값을 삽입하는 방법이다.

#### 4-13. String Format Code

In [54]:
# %d
# 정수(Integer)
print('I ate %d apples' % 3)
number = 3
print('I ate %d apples' % number)

I ate 3 apples
I ate 3 apples

In [70]:
# %c
# 문자 1개(character)
print('I ate %c apples' % 't')

I ate t apples

In [56]:
# %s
# 문자열(String)
print('I ate %s apples' % 'three')

I ate three apples

In [71]:
# %f
# 부동소수(floating-point)
print('I ate %f apples' % 0.5)

I ate 0.500000 apples

In [82]:
# %o
# 8진수
print('I ate %o apples' % 8)

I ate 10 apples

In [83]:
# %x
# 16진수
print('I ate %x apples' % 16)

I ate 10 apples

In [85]:
# %%
# Literal % (문자 % 자체)
print('I ate %d%% of apples' % 70)

I ate 70% of apples

In [61]:
# 2개 이상의 값 넣기
Number = 10
Day = 'three'
print('I ate %d apples, so I was sick for %s days.' % (Number, Day))

I ate 10 apples, so I was sick for three days.

#### 4-14 %s Format Code

In [52]:
# 어떤 형태의 값이든 변환해 넣을 수 있다.
# 자동으로 % 뒤의 값을 문자열로 바꾸어 대입하기 때문이다.
print('I have %s apples' % 'three')
print('I have %s apples' % 3)
print('rate is %s' % 3.234)

I have three apples
I have 3 apples
rate is 3.234

#### 4-15 %d 와 % 가 같은 문자열 안에 존재하는 경우

In [86]:
# %를 나타내려면 반드시 %%를 써야 한다.
# %d와 같은 Format Code가 없으면 %는 홀로 쓰여도 상관없다.
print('Error is %d%%.' % 1)

Error is 1%.

#### 4-16. Using Format Code with Number

In [87]:
# 정렬과 공백

# %10s
# 오른쪽 정렬

# 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고, 그 앞은 8개는 공백으로 남긴다.
print('%10s' % 'hi' )

# %-10s
# 왼쪽 정렬

# 전체 길이 16인 문자열 공간에서 대입되는 값을 왼쪽으로 정렬하고, 중간 값을 공백으로 남긴다.
print('%-10ssehyuk' % 'hi')

In [55]:
# 소수점 표현

# %0.4f
# ‘.’ 소수점 포인트, 그 뒤의 숫자 4는 소수점 뒤에 나올 숫자의 개수이다.
# 소수점 포인트 앞의 숫자는 문자열의 전체 길이를 의미하는데, %0.4f에서 사용한 숫자 0은 길이에 상관하지 않겠다는 의미이다.
print('%0.6f' % 3.14159265359)

# %0.4f는 0을 생략하여 %.4f로 사용하기도 한다.
print('%.6f' % 3.14159265359)

# 주어진 값을 소수점 여섯 번째 자리까지만 표시하고, 전체 길이가 10개인 문자열 공간에서 오른쪽으로 정렬하는 예이다.
print('%10.6f' % 3.14159265359)

3.141593
3.141593
  3.141593

#### 4-17. String Format Function

In [90]:
print('I ate {} apples.' .format(3))
print('I ate {} apples.' .format("three"))

I ate 3 apples.
I ate three apples.

In [91]:
# 둘 이상의 값 대입하기
number = 3
day = 'three'
print('I ate {0} apples, so I was sick for {1} days.' .format(number,day))
print('I ate {} apples, so I was sick for {} days.' .format(number,day))

I ate 3 apples, so I was sick for three days.
I ate 3 apples, so I was sick for three days.

In [92]:
# 인덱스 항목과 name=value 형태를 혼용하는 것도 가능하다.
print('I ate {0} apples, so I was sick for {day} days.' .format(number, day = 3))

I ate 3 apples, so I was sick for 3 days.

#### 4-18. Array using Format Function

In [93]:
# 정렬만 가능, 시작점으로부터 몇 번째 위치에 둘 수 없다.

In [94]:
# :<
# 왼쪽 정렬
print('{0:<10}' .format('hi'))
print('{:<10}' .format('hi'))

hi
hi

In [95]:
# :>
# 오른쪽 정렬
print('{0:>10}' .format('hi'))
print('{:>10}' .format('hi'))

        hi
        hi

In [96]:
# :^
# 가운데 정렬
print('{0:^10}' .format('hi'))
print('{:^10}' .format('hi'))

    hi
    hi

In [97]:
# 공백 채우기
print('{0:=<10}' .format('hi'))
print('{0:!>10}' .format('hi'))
print('{0:@^10}' .format('hi'))

hi========
!!!!!!!!hi
@@@@hi@@@@

In [99]:
# {} or 문자 표현하기
# {}를 문자 그대로 표시하려면 2개를 동시에 사용해야 한다.
print('{{}}' .format())
print('{{pi}}' .format())

{}
{pi}

In [98]:
# 소수점 표현하기
pi = 3.14159265359
print('{0:0.6f}' .format(pi))
print('{:20.6f}' .format(pi))

3.141593
            3.141593

#### 4-19 f String Formatting

In [100]:
name = 'parksehyuk'
age = 25
print(f'My name is {name}. I\'m {age} years old.')
print(F"My name is {name}. I\'m {age} years old.")

My name is parksehyuk. I'm 25 years old.
My name is parksehyuk. I'm 25 years old.

In [102]:
# 표현식 지원
# 표현식이란 중괄호 안의 변수를 계산식과 함께 사용하는 것이다.
age = 25
print(f'I\'m {age + 1} years old next year.')

I'm 26 years old next year.

In [103]:
# 딕셔너리
d = {'name':'parksehyuk', 'age':25}
print(f'My name is {d["name"]}. I\'m {d["age"]} years old.')

My name is parksehyuk. I'm 25 years old.

In [104]:
# 정렬
print(f'{"hi":<10}')
print(f'{"hi":>10}')
print(f'{"hi":^10}')

hi
        hi
    hi

In [105]:
# 공백 채우기
print(f'{"hi":=<10}')
print(f'{"hi":!>10}')
print(f'{"hi":@^10}')

hi========
!!!!!!!!hi
@@@@hi@@@@

In [106]:
# 소수점 표현
pi = 3.14159265359
print(f'{pi:0.6f}')
print(f'{pi:20.6f}')

3.141593
            3.141593

In [107]:
# {} 그대로 사용하기
print(f'{{}}')
print(f'{{pi}}')

{}
{pi}

#### 4-20. String Type built-in Function

In [108]:
# 문자열 자료형은 자체적으로 함수를 가지고 있다.
# built-in Function을 사용하려면 변수 이름 뒤에 ‘.’를 붙인 후 함수 이름을 쓴다.

In [109]:
# count
# 문자열 중 해당 문자 개수 세기
a = 'parksehyuk'
a.count('k')

2

In [110]:
# find
# 문자열 중 해당 문자가 처음 나온 위치 찾기
# 만약 찾는 문자나 문자열이 존재하지 않는다면 -1.
a = 'Life is too short, You need python.'
print(a.find('p'))
print(a.find('a'))

28
-1

In [111]:
# index
# 문자열 안에 존재하지 않는 문자를 찾으면 오류가 발생한다.
# print(a.index('a')) -> ValueError
a = 'Life is too short, You need python.'
print(a.index('p'))

28

In [112]:
# join
# 문자열 삽입
# join 함수는 리스트나 튜플도 입력으로 사용할 수 있다.
print(',' .join('abcd'))
print(',' .join(['a', 'b', 'c', 'd']) )

a,b,c,d
a,b,c,d

In [113]:
# upper
# 문자열이 이미 대문자라면 아무런 변화도 일어나지 않는다.
a = 'hi'
print(a.upper())

HI

In [114]:
# lower
a = 'HI'
print(a.lower())

hi

In [115]:
# lstrip
# 문자열 중 가장 왼쪽에 있는 한 칸 이상의 연속된 공백을 모두 지운다.
a = '    hi    '
print(a.lstrip())

hi

In [116]:
# rstrip
# 문자열 중 가장 오른쪽에 있는 한 칸 이상의 연속된 공백을 모두 지운다.
a = '    hi    '
print(a.rstrip())

    hi

In [117]:
# strip
# 문자열의 양쪽에 있는 한 칸 이상의 연속된 공백을 모두 지운다.
a = '    hi    '
print(a.strip())

hi

In [118]:
# replace
# 문자열 바꾸기
a = 'Life is too short.'
print(a.replace('Life', 'Your leg'))

Your leg is too short.

In [119]:
# split
# 문자열 나누기
# 괄호 안에 값을 넣지 않으면 공백을 기준으로 문자열을 나눈다.
# 이렇게 나눈 값은 리스트에 하나씩 들어간다.
a = 'Life is too short.'
print(a.split())
b = 'a:b:c:d'
print(b.split(':'))

['Life', 'is', 'too', 'short.']
['a', 'b', 'c', 'd']

#### 4-21. Immutable Data Type

In [120]:
# 함수 값을 취하더라도 변수의 값은 변하지 않는다.
# 함수는 변수의 값 자체를 변경하는 것이 아니라 함수를 취한 값을 리턴하기 때문이다.

In [121]:
# 변수 값을 바꾸고 싶다면 대입문을 사용해야 한다.
a = 'hi'
a = a.upper()
print(a)

HI