#### 17. Built-in functions

In [4]:
# 이미 만들어진 것을 다시 만드는 것은 불필요한 행동이다.
# 내장 함수는 module과 달리 import가 필요하지 않아 별다른 설정 없이 사용할 수 있다.

#### 17-1. abs(x)

In [11]:
# 어떤 숫자를 입력받았을 때 그 숫자의 절댓값을 리턴한다.
print(abs(1))
print(abs(-1))

1
1

#### 17-2. all(x)

In [13]:
# 반복 가능한 데이터 x를 입력값으로 받는다.
# x의 요소가 모두 참이면 True, 거짓이 하나라도 있으면 False를 리턴한다.
print(all([1, 2, 3]))
print(all([0, 1, 2, 3]))

True
False

In [14]:
# 입력 인수가 빈 값인 경우에는 True를 리턴한다.
print(all([]))

True

#### 17-3. any(x)

In [18]:
# all(x)의 반대로 작동한다.
# 반복 가능한 데이터 x를 입력값으로 받는다.
# x의 요소 중 하나라도 참이 있으면 True를 리턴하고, x가 모두 거짓일 때만 False를 리턴한다.
print(any([1, 2 ,3]))
print(any([0, '']))

True
False

In [19]:
# 입력 인수가 빈 값인 경우에는 False를 리턴한다.
print(any([]))

False

#### 17-4. chr(i)

In [22]:
# 유니코드 숫자 값을 입력받아 그 코드에 해당하는 문자를 리턴한다.
# 유니코드는 전 세계의 모든 문자를 컴퓨터에서 일관되게 표현하고 다룰 수 있도록 설계된 산업 표준 코드이다.
print(chr(97))
print(chr(44032))

a
가

#### 17-5. dir

In [25]:
# 객체가 지닌 변수나 함수를 보여 준다.
print(dir([1, 2, 3]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [26]:
print(dir({'1', 'a'}))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

#### 17-6. divmod(a, b)

In [27]:
# 2개의 숫자 a, b를 입력으로 받아, a를 b로 나눈 몫과 나머지를 튜플로 리턴한다.
print(divmod(1, 2))

(0, 1)

#### 17-7. enumerate

In [4]:
# 열거하다.
# 순서가 있는 데이터(리스트, 튜플, 문자열)를 입력 받아 인덱스 값을 포함하는 enumerate 객체를 리턴한다.
# for와 함께 사용하면 자료형의 현재 순서 index와 그 값을 알 수 있다.
for i, name in enumerate(['park', 'se', 'hyuk']):
    print(i, name)

0 park
1 se
2 hyuk

#### 17-8. eval(expression)

In [9]:
# 문자열로 구성된 표현식을 입력 받아 해당 문자열을 실행한 결괏값을 리턴한다.
print(eval('1 + 2'))
print(eval('divmod(1, 2)'))

3
(0, 1)

#### 17-9. filter

In [11]:
# 걸러 낸다.
# 첫 번째 인수로 함수, 두 번째 인수로 그 함수에 차례로 들어갈 반복 가능한 데이터를 받는다.
# 반복 가능한 데이터의 요소 순서대로 함수를 호출했을 때 리턴값이 참인 것만 걸러 내어 리턴한다.

In [12]:
def positive(l):
    result = []
    for i in l:
        if i > 0:
            result.append(i)
    return result
print(positive([-3, -2, -1, 0, 1, 2, 3]))

[1, 2, 3]

In [15]:
# filter
# list 함수는 filter 함수의 리턴값을 리스트로 출력하기 위해 사용한다.
def positive(x):
    return x > 0
print(list(filter(positive, [-3, -2, -1, 0, 1, 2, 3])))

[1, 2, 3]

In [17]:
# filter with lambda
list(filter(lambda x: x > 0, [1, -3, 2, 0, -5, 6]))

[1, 2, 6]

#### 17-10. hex(x)

In [20]:
# 정수를 입력받아 16진수(hexadecimal) 문자열로 변환하여 리턴한다.
print(hex(1))
print(hex(1234))

0x1
0x4d2

#### 17-11. id(object)

In [25]:
# 객체를 입력받아 객체의 고유 주솟값(레퍼런스)을 리턴한다.
a = 1
b = a
print(id(1))
print(id(a))
print(id(b))

9801248
9801248
9801248

#### 17-12. input([prompt])

In [32]:
# 사용자 입력을 받는 함수이다.
# 입력 인수로 문자열을 전달하면 그 문자열은 프롬프트가 된다.
# []는 괄호 안의 내용을 생략할 수 있다는 관례 표기법이다.
print(input('Enter:'))

Enter: a

a

#### 17-13. int(x)

In [33]:
# 문자열 형태의 숫자나 소수점이 있는 숫자를 정수로 리턴한다.
# 정수가 입력되면 그대로 리턴한다.
print(int(1))
print(int(1.1))

1
1

In [37]:
# int('x', radix)
# radix 진수로 표현된 문자열 x를 10진수로 변환하여 리턴한다.
print(int('1111', 2))

15

#### 17-14. isinstance(object, class)

In [39]:
# 첫 번째 인수로 객체, 두 번째 인수로 class를 받는다.
# 입력으로 받은 객체가 그 클래스의 instance인지 판단하여 참이면 True, 거짓이면 False를 리턴한다.

In [42]:
class person:
    pass
a = person()
print(isinstance(a, person))

True

In [44]:
b = 1
print(isinstance(b, person))

False

#### 17-15. len(s)

In [50]:
# 입력값 s의 길이(요소의 전체 개수)를 리턴한다.
print(len('python'))
print(len([1, 2, 3]))
print(len((1, 'a')))

6
3
2

#### 17-16. list(iterable)

In [52]:
# 반복 가능한 데이터를 입력받아 리스트로 만들어 리턴한다.
print(list('python'))
print(list((1, 2, 3)))

['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3]

In [53]:
# list 함수에 list(iterable)를 입력하면 똑같은 리스트를 복사하여 리턴한다.
print(list([1, 2, 3]))

[1, 2, 3]

#### 17-17. map(f, iterable)

In [55]:
# 함수(f)와 반복 가능한 데이터를 입력으로 받는다.
# 입력받은 데이터의 각 요소에 함수 f를 적용한 결과를 리턴한다.

In [60]:
def two_times(numberlist):
    result = []
    for number in numberlist:
        result.append(number * 2)
    return result
result = two_times([1, 2, 3, 4])
print(result)

[2, 4, 6, 8]

In [61]:
# map(f, iterable)
def two_times(x):
    return x * 2
list(map(two_times, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [63]:
# lambda
print(list(map(lambda a: a * 2, [1, 2, 3, 4])))

[2, 4, 6, 8]

#### 17-18. max(iterable)

In [64]:
# 인수로 반복 가능한 데이터를 입력받아 그 최댓값을 리턴한다.
print(max([1, 2, 3]))
print(max('python'))

3
y

#### 17-19. min(iterable)

In [65]:
# max 함수와 반대
# 인수로 반복 가능한 데이터를 입력받아 그 최솟값을 리턴한다.
print(min([1, 2, 3]))
print(min('python'))

1
h

#### 17-20. oct(x)

In [67]:
# 정수를 8진수 문자열로 바꾸어 리턴한다.
print(oct(123))

0o173

#### 17-21. open(filename, [mode])

In [70]:
# ‘파일 이름’과 ‘읽기 방법’을 입력받아 파일 객체를 리턴한다.
# 읽기 방법(mode)을 생략하면 기본값인 읽기 모드(r)로 파일 객체를 만들어 리턴한다.
f = open("/home/loveofmylife/Tutorial_Python/py/newfile.txt", 'rb')

#### 17-22. ord(c)

In [72]:
# 문자의 유니코드 숫자 값을 리턴한다.
# chr 함수와 반대로 동작한다.
print(ord('a'))
print(ord('가'))

97
44032

#### 17-23. pow

In [73]:
# x를 y제곱한 결괏값을 리턴한다.
print(pow(3, 4))

81

#### 17-24. range

In [76]:
# range([start,] stop [,step])
# for 문과 함께 자주 사용한다.0
# 입력받은 숫자에 해당하는 범위 값을 반복 가능한 객체로 만들어 리턴한다.

In [77]:
# 인수가 하나인 경우
# 시작 숫자를 지정해 주지 않으면 range 함수는 0부터 시작한다.
print(list(range(5)))

[0, 1, 2, 3, 4]

In [89]:
# range(start, stop)
# 입력으로 주어지는 2개의 인수는 시작 숫자와 끝 숫자를 나타낸다.
# 끝 숫자는 해당 범위에 포함되지 않는다.
print(list(range(5, 10)))

[5, 6, 7, 8, 9]

In [88]:
# range(start, stop ,step)
# 세 번째 인수는 숫자 사이의 거리를 의미한다.
print(list(range(1, 10, 3)))
print(list(range(0, -10, -1)))

[1, 4, 7]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

#### 17-25. round(number [,ndigits])

In [84]:
# 숫자를 입력받아 반올림해 리턴한다.
print(round(1.5))

2

In [87]:
# 두 번째 인수는 반올림하여 표시하고 싶은 소수점의 자릿수(ndigits)를 의미한다.
print(round(3.141529, 4))

3.1415

#### 17-26. sorted(iterable)

In [97]:
# 리스트 자료형의 sort 함수는 리스트 객체 그 자체를 정렬만 할 뿐, 정렬된 결과를 리턴하지는 않는다.
a = [3, 2, 1]
print(a.sort())

None

In [98]:
# 입력 데이터를 정렬한 후 그 결과를 리스트로 리턴한다.
print(sorted([3, 2, 1]))
print(sorted('python'))

[1, 2, 3]
['h', 'n', 'o', 'p', 't', 'y']

#### 17-27. str(object)

In [104]:
# 문자열 형태로 객체를 변환하여 리턴한다.
print(str(3.14))

3.14

#### 17-28. sum(iterable)

In [106]:
# 입력 데이터의 합을 리턴한다.
print(sum([1, 2, 3]))
print(sum((1, 2, 3, 4)))

6
10

#### 17-29. tuple(iterable)

In [109]:
# 반복 가능한 데이터를 튜플로 바꾸어 리턴한다.
print(tuple([1, 2, 3]))
print(tuple('python'))

(1, 2, 3)
('p', 'y', 't', 'h', 'o', 'n')

In [110]:
# 입력이 튜플인 경우 그대로 리턴한다.
print(tuple((1, 2, 3)))

(1, 2, 3)

#### 17-30. type(object)

In [117]:
# 입력값의 자료형이 무엇인지 알려 준다.
print(type('python'))
print(type([1, 2, 3]))
print(type(open("/home/loveofmylife/Tutorial_Python/py/newfile.txt", 'r')))

<class 'str'>
<class 'list'>
<class '_io.TextIOWrapper'>

#### 17-31. zip(*iterable)

In [123]:
# 동일한 개수로 이루어진 데이터들을 순서대로 묶어서 리턴한다.
# *iterable은 반복 가능한 데이터를 여러 개 입력할 수 있다는 의미이다.

In [124]:
print(list(zip([1, 2, 3], [4, 5, 6])))
print(list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9])))

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [122]:
print(list(zip('abcd', 'efgh')))
print(list(zip('abcd', 'efgh', 'ijkl')))

[('a', 'e'), ('b', 'f'), ('c', 'g'), ('d', 'h')]
[('a', 'e', 'i'), ('b', 'f', 'j'), ('c', 'g', 'k'), ('d', 'h', 'l')]