#### 4. Date Type II

#### 4-1. String Type

In [67]:
# 문자열
# 연속된 문자들의 나열


# 모든 예문이(숫자포함) 큰 따옴표, 작은 따옴표, 큰따옴표 3개 연속, 작은따옴표 3개 연속으로 둘러싸여 있으면 모두 문자열.
# 문장 안에도 작은따옴표와 큰따옴표가 들어 있어야 할 경우를 고려하기 때문이다.


a = "Life is too short, You need python."
print(a)

b = 'Life is too short, You need python.'
print(b)

c = """"Life is too short, You need python" he says."""
print(c)

d = """'Life is too short, You need python' he says."""
print(d)

Life is too short, You need python.
Life is too short, You need python.
"Life is too short, You need python" he says.
'Life is too short, You need python' he says.

#### 4-2. 문자열에 따옴표 포함하기

In [68]:
# 큰따옴표 안에 들어 있는 작은따옴표는 문자열을 나타내기 위한 기호로 인식되지 않는다.
# 작은따옴표 안에 들어 있는 큰따옴표는 문자열을 나타내기 위한 기호로 인식되지 않는다.


a = '"Life is too short, You need python" he says.'
print(a)

b = "'Life is too short, You need python' he says."
print(b)

"Life is too short, You need python" he says.
'Life is too short, You need python' he says.

#### 4-3. 역슬래시 삽입

In [69]:
# 역슬래시를 따옴표 앞에 삽입하면 역슬래시 뒤의 따옴표는 문자열을 둘러싸는 기호의 의미가 아니라 ' or " 자체를 뜻하게 된다.


a = "\"Life is too short, You need python\" he says."
print(a)

b = "\"Life is too short, You need python\" he says."
print(b)

c = "Life\'s too short, You need python."
print(c)

"Life is too short, You need python" he says.
"Life is too short, You need python" he says.
Life's too short, You need python.

#### 4-4. 줄바꿈 문자

In [70]:
# multiline
# 줄을 바꾸기 위한 이스케이프 코드 \n 삽입


a = "Life is too short\nYou need python"
print(a)

Life is too short
You need python

In [71]:
multiline1 = '''
Life is too short
You need python
'''
print(multiline1)

multiline2 = """
Life's too short
You need python
"""
print(multiline2)

Life is too short
You need python


Life's too short
You need python

#### 4-5. 이스케이프 코드

In [72]:
# \n
# 문자열 안에서 줄을 바꿀 때 사용

a = "Life is too short\nYou need python"
print(a)



# \t
# 문자열 사이에 탭 간격을 줄 때 사용

b = "Life is too short\tYou need python"
print(b)



# \\
# \를 그대로 표현할 때 사용

c = "Life is too short\\You need python"
print(c)



# \'
# 작은따옴표를 그대로 표현할 때 사용

d = "Life is too short\'You need python"
print(d)



# \"
# 큰따옴표를 그대로 표현할 때 사용

e = "Life is too short\"You need python"
print(e)



# \r
# 캐리지 리턴. 줄 바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동한다.

f = "Life is too short\rYou need python"
print(f)



# \f
# 폼 피드. 줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동한다.

g = "Life is too short\fYou need python"
print(g)



# \a
# 벨 소리. 출력할 때 PC 스피커에서 '삑' 소리가 난다.

h = "Life is too short\aYou need python"
print(h)



# \a
# 백 스페이스

i = "Life is too short\bYou need python"
print(i)



# \000
# 널 문자

j = "Life is too short\000You need python"
print(j)

Life is too short
You need python
Life is too short	You need python
Life is too short\You need python
Life is too short'You need python
Life is too short"You need python
You need pythonrt
Life is too shortYou need python
Life is too shortYou need python
Life is too shorYou need python
Life is too short You need python

#### 4-6. 문자열 연산

In [73]:
a = "Life is too short, "
b = "You need python"


# 문자열 덧셈
print(a + b)


# 문자열 곱셈
print(a * 2)

Life is too short, You need python
Life is too short, Life is too short,

#### 4-7. 문자열 곱셈 응용

In [74]:
# multistring.py


print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

#### 4-8. 문자열 길이

In [75]:
# 문자열의 길이에는 공백 문자도 포함된다.


a = "Life is too short, You need python."
len(a)

35

#### 4-9. String Indexing

In [76]:
# Indexing
# 가리킨다


# Slicing
# 잘라내다


# a[N]
# 문자열의 N번째 문자
# 파이썬은 숫자를 0부터 센다.


# a[N]은 문자열 안의 특정한 값을 뽑아 낸다.
a = "Life is too short, You need Python"
print(a[3])


# a[-1]은 뒤에서부터 셀 때 첫 번째가 되는 문자이다.
print(a[-1])


# 0 = -0 so a[0] = a[-0]
print(a[0])
print(a[-0])

e
n
L
L

#### 4-10. String Slicing

In [77]:
# 문자열 내 단어 뽑아내기
a = "Life is too short, You need python."
b = a[0] + a[1] + a[2] + a[3]
print(b)

# Slicing
# a[start number : end number]를 지정할 때 끝 번호에 해당하는 문자는 포함하지 않는다.
# 0 <= a < 3

c = a[0:4]
print(c)


# end number를 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아 낸다.
d = a[19:]
print(d)


# start number를 생략하면 문자열의 처음부터 끝 번호까지 뽑아 낸다.
e = a[:17]
print(e)


# Slicing에서도 - 기호 사용 가능하다.
# a[19:-7]은 a[19]에서 a[-8]까지를 의미한다. a[-7]은 포함하지 않는다.
f = a[19:-7]
print(f)

Life
Life
You need python.
Life is too short
You need

In [78]:
a = "20000611Sunny"
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
print(weather)

2000
0611
Sunny

#### 4-11. 'Pithon' to 'python'

In [79]:
# Immutable Data Type
# 변경 불가능한 자료형
# 문자열의 요솟값은 바꿀 수 있는 값이 아니다.


# Slicing
a = "pithon"
print(a[:1] + "y" + a[2:])

python

#### 4-12. String Formatting

In [80]:
# 문자열 안의 특정한 값을 시간에 따라 바꾸어야 할 때 사용한다.
# 문자열 안에 어떤 값을 삽입하는 방법이다.

#### 4-13. String Format Code

In [81]:
# %s
# 문자열(String)

# %c
# 문자 1개(character)

# %d
# 정수(Integer)

# %f
# 부동소수(floating-point)

# %o
# 8진수

# %x
# 16진수

# %%
# Literal % (문자 % 자체)

In [82]:
# %d
print("I ate %d apples" % 3)

number = 3
print("I ate %d apples" % number)

# %s
print("I ate %s apples" % "three")

# 2개 이상의 값 넣기
Number = 10
Day = "three"
print("I ate %d apples, so I was sick for %s days." % (Number, Day))

I ate 3 apples
I ate 3 apples
I ate three apples
I ate 10 apples, so I was sick for three days.

#### 4-14 %s Format Code

In [83]:
# %s
# %s 이 코드에는 어떤 형태의 값이든 변환해 넣을 수 있다.
# 자동으로 % 뒤의 값을 문자열로 바꾸어 대입하기 때문이다.

print("I have %s apples" % "three")
print("I have %s apples" % 3)
print("rate is %s" % 3.234)

I have three apples
I have 3 apples
rate is 3.234

#### 4-15 %d 와 % 가 같은 문자열 안에 존재하는 경우

In [84]:
# %를 나타내려면 반드시 %%를 써야 한다.
# %d와 같은 Format Code가 없으면 %는 홀로 쓰여도 상관없다.

print("Error is %d%%." % 98)

Error is 98%.

#### 4-16. Using Format Code with Number

In [85]:
# 정렬과 공백


# %10s
# 오른쪽 정렬

# 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고, 그 앞은 8개는 공백으로 남긴다.
print("%10s" % "hi" )

# %-10s
# 왼쪽 정렬

# 전체 길이 16인 문자열 공간에서 대입되는 값을 왼쪽으로 정렬하고, 중간 값을 공백으로 남긴다.
print("%-10ssehyuk" % "hi")

        hi
hi        sehyuk

In [86]:
# 소수점 표현


# %0.4f
# ‘.’ 소수점 포인트, 그 뒤의 숫자 4는 소수점 뒤에 나올 숫자의 개수이다.
# 소수점 포인트 앞의 숫자는 문자열의 전체 길이를 의미하는데, %0.4f에서 사용한 숫자 0은 길이에 상관하지 않겠다는 의미이다.
print("%0.6f" % 3.14159265359)

# %0.4f는 0을 생략하여 %.4f로 사용하기도 한다.
print("%.6f" % 3.14159265359)

# 주어진 값을 소수점 여섯 번째 자리까지만 표시하고, 전체 길이가 10개인 문자열 공간에서 오른쪽으로 정렬하는 예이다.
print("%10.6f" % 3.14159265359)

3.141593
3.141593
  3.141593

#### 4-17. Fomatting with Format Function